@font-face {
    font-family: Diablo;
    src: url('DIABLO_L.TTF');
  }

body{
    background-image: url('D2 Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Diablo;
    cursor: url('cursor.png'), auto;
}

.container {
    height: 80em;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: auto;
    text-align: -webkit-center;
}

.titleBar{
    color: aliceblue;
    font-size: 75px;
    text-align: center;
}

.welcome {
    color: aliceblue;
    width: 1200px;
    font-size: 20px;
}

.favButton{
    margin: 30px;
    height: 40px;
    width: 180px;
    color: rgb(6, 5, 5);
    font-weight: bolder;
    line-height: 25px; 
    border-radius: 15px; 
    background-image: url('buttonBackground.jpg');
    border: 2px solid rgb(95, 101, 111); 
    display: inline-block;
    font-family: Diablo;
    font-weight: bold;
    font-size: 15px;
    cursor: url('cursor.png'), auto;
}

.classButton {
    background-color: transparent;
    margin: 30px;
    border: 2px solid rgb(95, 101, 111);
}

#showFav{
    padding-bottom: 45px;
    position: absolute;
    top: 125px;
    right: 210px;
}

.classButton:hover{
    scale: 1.07;
}

button:hover{
    scale: 1.07;
}

.buttons {
    text-align: center;
    margin: 30px;
    font-family: Diablo;
}

.allCards {
    display: inline-flex;
}

.charTile{
    color:aliceblue;
    border: 8px ridge #BCCBCE;
    background-color: rgba(0, 0, 0, 0.9);
    /* width: 500px;
    height: 300px; */
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 500px;
    height: 630px;
    justify-content: center;
    align-items: center;
    font-family: Diablo;
}

.favoritesList{
    color:aliceblue;
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 8px ridge #BCCBCE;
    position: absolute;
    right: 220px;
    top: 213px;
}

ul{
    text-align: left;
}

.buildTitle{
    text-align: center;
    font-size: 40px;
    font-family: Diablo;
}

.swal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
}

.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: 5px;
    border: 8px ridge #BCCBCE;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
    font-family: Diablo;
}

.swal-overlay {
    position: fixed;
    top: -298px;
    bottom: 0;
    left: 0;
    right: 0;
}

.swal-text {
    font-size: 26px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: aliceblue;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.swal-button-container {
    margin: 5px;
    display: inline-block;
    position: relative;
    background-image: url('buttonBackground.jpg');
    cursor: url('cursor.png'), auto;
    font-family: Diablo;
}

.swal-button {
    background-image: url('buttonBackground.jpg');
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: none;
    font-family: Diablo;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: url('cursor.png'), auto;
}

.swal-button__loader {
    font-family: Diablo;
}